<!DOCTYPE html>
<html>
	<head>
		<title>Rajendra Man Singh | Author</title>
		<meta name="Rajendra Man Singh" content="Rajendra Man Singh">
		<meta name="msvalidate.01" content="3628FE02D80D4A4D8CCDECF23EDA1D71" />
		<meta name="google-site-verification" content="0NtZsdNfd8shouc9FP1phowz6GnKLqtcblJ890Duhi0" />
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about.html">About</a></li>
        		<li><a href="/cv.html">CV</a></li>
        		<li><a href="/blog.html">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm Rajendra Man Singh!</h1>
			<p> Published Author an a Network Engineer (CCNP Certified)</p>
				<p>Be sure to check out Amazon.com for my latest book. <a href="/cv.html">Read more about my life...</a></p>
			<p>
				
					<img src="/pic1.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
					<img src="/pic2.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
					<img src="/pic3.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
					<img src="/pic4.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
					<img src="/DSC01730.JPG" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
					<img src="/IMG_20170303_082705_179.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
					<img src="/P1012260o.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
					<img src="/P2080227.JPG" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
					<img src="/P2080227v.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
					<img src="/imgnpl.jpeg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
					<img src="/09e60de.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
					<img src="/Rajsingh.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
					<img src="/cOWAxb_muxEGEDrIewWxM8RyFW2Lj--BOWanGm4q47g.png" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
					<img src="/cycle.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<p style="clear: both;">
			</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:mail4rms@gmail.com">email</a></li>
        		<li><a href="https://github.com/rajendramansingh">github.com/rajendramansingh</a></li>
			</ul>
		</footer>
	</body>
</html>
